@model EntityLayer.Conctrete.Writer
@{
    ViewBag.Title = "WriterProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


@using (Html.BeginForm("WriterProfile", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.WriterID, new { @class = "form-control" })

        @Html.Label("Writer Name")
        @Html.TextBoxFor(x => x.WriterUsername, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterUsername)
        <br />
        <br />
        @Html.Label("Writer Name")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterName)
        <br />
        <br />
        @Html.Label("Writer Surname")
        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterSurname)
        <br />
        <br />
        @Html.Label("Writer Mail")
        @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterMail)
        <br />
        <br />
        @Html.Label("Writer Password")
        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterPassword)
        <br />
        <br />
        @Html.Label("Writer Image")
        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterImage)
        <br />
        <br />
        @Html.Label("Writer Tittle")
        @Html.TextBoxFor(x => x.WriterTittle, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterTittle)
        <br />
        <br />
        @Html.Label("About")
        @Html.TextBoxFor(x => x.WriterInfo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterInfo)
        <br />
        <br />

        <button class="btn btn-success">Save</button>
    </div>
}
