@model EntityLayer.Conctrete.Heading

@{
    ViewBag.Title = "UpdateHeading";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}

<h2>UpdateHeading</h2>

@using (Html.BeginForm("UpdateHeading", "Heading", FormMethod.Post)) { 
    <div class="form-group">
        @Html.Label("Heading id")
        @Html.TextBoxFor(x => x.HeadingID, new { @class = "form-control" })
        <br />
        <br />
        @Html.Label("Heading Name")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        <br />
        <br />
        @Html.Label("Writer ID")
        @Html.TextBoxFor(x => x.WriterID, new { @class = "form-control" })
        <br />
        <br />
        @Html.Label("Heading Date")
        @Html.TextBoxFor(x => x.HeadingDate, new { @class = "form-control" })
        <br />
        <br />
        @Html.Label("Category")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        <br />

    </div>
   
    <button class="btn btn-success">Save</button>
    }